:root{

--background:#2E2F33;

}

*{


    margin: 0 auto;
}
html{

    font-family: 'Roboto', sans-serif;

}
body{

  box-sizing: border-box;
  height: 100vh;
  background-color: #252526;

}

#main{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;

}

#container {


    width: 35%;
    height: 70%;
    max-width: 500px;
    max-height: 400px;

}


#inputs{


    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    background-color: var(--background);
    
    
}

#spn{
  
    font-weight: bolder;
    font-size: 1.3em;
    padding-bottom: 1em;
    color:white;

}

.cajasTexto{
    width: 70%;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: large;
    text-indent: 5px;

}

button{
    border: none;
    border-radius: 4px;
    width: 70%;
    height: 50px;
    padding: 16px;
    color: white;
    font-weight: bolder;
    background: linear-gradient(120deg,#CC2B5E,#753A88);
    
}